<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'/>


</head>
<body>

<div class="container">
    {{{body}}}
</div>
<footer>
    <hr style="border-color: black">
    <div class="col">
        <span class="hidden-sm hidden-xs"><a href="/">Home</a></span>
        <span style="text-align: right">This was created for a
                <a href="https://www.freecodecamp.com/challenges/url-shortener-microservice" target="_blank">
                    FreeCodeCamp challenge</a> by <a href="https://www.freecodecamp.com/timlehner" target="_blank">
                Tim Lehner</a>.<br>View the source <a href="https://github.com/TimLehner/short-url" target="_blank">on GitHub</a>.
        </span>
    </div>
</footer>
</body>
</html>
