<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>

<div class="container">
    {{{body}}}
</div>
<footer>
    <hr style="border-color: black">
    <div class="col">
        <span><a href="/">Home</a></span>
        <span style="text-align: right">This was created for a
                <a href="https://www.freecodecamp.com/challenges/url-shortener-microservice" target="_blank">
                    FreeCodeCamp challenge</a> by <a href="https://www.freecodecamp.com/timlehner" target="_blank">
                Tim Lehner</a>. View the source <a href="" target="_blank">on GitHub</a>.
        </span>
    </div>
</footer>
</body>
</html>
